# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# YOLO outputs
runs/
datasets/

# Model files (ignore all by default)
*.pt
*.onnx

# Allow the trained model inside models folder
!models/best.pt